* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f6f6f6;
  color: #111;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
}
